[submodule "vendor/includes/imgui/imgui"]
	path = vendor/includes/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/includes/jomini-parser"]
	path = vendor/includes/jomini-parser
	url = https://github.com/Xorrad/jomini-parser.git
[submodule "vendor/includes/lodepng"]
	path = vendor/includes/lodepng
	url = https://github.com/lvandeve/lodepng
